*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    background-color: whitesmoke;
    box-shadow: 0 1px 5px 0px rgb(158, 158, 158) ;
    margin-bottom: 3rem;
}
section{
    text-align: center;
    position: relative;
}
.sign-up{
    border: none;
    border-radius: 5px;
    padding: 0.7rem 0.8rem;
    background-color: #e2e8f0;
}
.add-btn{
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}
.add-btn:hover{
    background-color: rgb(212, 212, 212);
}
form{
    width: 16%;
    margin: 0 auto;
    padding: 1rem ;
    border-radius: 10px;
    background-color: whitesmoke;
    visibility: hidden;
    position: fixed;
    top: 32%;
    left: 42%;
}
.title{
    margin-bottom: 1rem;
}

.head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.title button{
    margin-left: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: red;
    border: none;
    background-color: whitesmoke;
}


.form-input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 1.2rem;
}
.form-input:focus{
    outline: none;
}
input[type="checkbox"]{
    width: 40px;
    height: 20px;
}
button[type="submit"]{
    width: 100%;
    padding: 0.8rem 0;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

